@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
    font-family: "Ubuntu", sans-serif;
}

.navbar {
    background-color: #245090;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: lightgray;
}

.row .col-4 :is(h3, p, a) {
    color: white;
    text-decoration: none;
    /* filter: drop-shadow(black 2px 2px); */
}

.row h3:hover {
    text-decoration: underline;
}

.main {
    height: 41vw;
}

.col-8 {
    background: url("media/scene2.jpg");
    background-color: red;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 35vw; */
}

.col-8 p {
    color: white;
    font-size: 4rem;
    filter: drop-shadow(black 2px 2px);
    /* text-align: center;
    background-color: yellow;
    position: absolute; */
}

.col-4 .row {
    overflow: hidden;
}

.about-us,
.newsletter {
    background-image: url("media/bubba.jpg");
}

.events,
.gallery {
    background-image: url("media/ludo.jpg");
}

.col-4 {
    background-color: green;
    align-content: center;
    padding-top: 0px !important;
}

.col-4 div {
    background-image: url("media/bubba.jpg");
    background-size: cover;
    height: 10vw;
    color: blue;
    /* margin: none; */
    /* border: black 3px solid; */
}
